<article class="post p-2">
    <div class="title">
        <a href="/post/{{id}}" class="post-link">{{title}}</a>
        <p class="post-content">{{post_content}}</p>
        <p class="post-date">{{formatDate created_at}}</p>
    </div>
    <div class="meta">
        <p class="post-author">written by {{user.username}}</p>
        <a href="/post/{{id}}">{{comments.length}} comments</a>
    </div>
</div>