<article class="post p-2">
    <div class="title">
        <a href="/post/{{id}}" class="post-link">{{title}}</a>
        <p class="post-author">written by {{user.username}} on {{formatDate created_at}}</p>
        <p class="post-content">{{post_content}}</p>
    </div>
    <div class="meta">
        <a class="comment-length" href="/post/{{id}}">{{comments.length}} comments</a>
    </div>

    <a href="/dashboard/edit/{{id}}" class="edit-post-link">edit post</a>
    
</div>