<article class="post d-inline-flex p-2">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{post.comments.length}} comments</a>
    </div>
</div>